

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 125vh;
    justify-content: center;
    background: black;
    background-size: cover;
    padding: 10px;
    margin: 20px;
}
span {
    color: chocolate;
}
form h1{
    text-align: center;
    padding-top: 20px;
    padding: 20px;
    top: 20px;
    
}
form h3{
    color: white;
    text-align: center;
}
.container{
    width: 100%;
    background:  black;
    padding: 10%;
    opacity: 80%;
    padding-top: 20px;
    height: 100vh;
   
}
.main-user-info{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 50px 0;
margin: 20px;
top: 20px;
}
.user-input-box:nth-child(2n){
    justify-content: end;
}.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 30px;
    top:20%;
    
}
.user-input-box label{
    width: 95%;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding-left: 10px;
}
.user-input-box input{
    height: 30px;
    width: 98%;
    outline: none;
    border: 1px white;
    padding: 0 20px;
    opacity: 20%;
    padding-left: 10px;
}
.gender-category{
    margin: 15px 0,;
    color: white;
    margin-left: 10px;
}
.gender-category label{
    padding: 0 10px 0 5px;
    padding-left: 5%;
    
}
.user-input-box textarea{

   padding-left: 200%;
   opacity: 20%;
}
.contact-img{
    padding-top: -5px;
    margin: 10px;
    display: flex;
    padding: 10;
    padding: 0 20px 0 13px;
    padding-left: 5px;
    margin-left: 2%;     
}
p{
    color: white;
    padding-left: 5px;
}
.form-submit-btn{
 text-align: center;
    
}
.form-submit-btn input{
    background: orangered;
    /* margin-left: 30%;  */
    /* padding: 20px; */
    margin-top: 5%;
    height: 50px;
    width: 200px;
    
    /* padding-left: 20%;  */
    color: white;
    
}
@media screen and (max-width: 480px){
    .container{ 
      width: 500%;
      height: 500vh;
      margin: 50%;
      padding-right: 45%;
      padding-left: 40%;
   }
   .user-input-box{
    margin-bottom: -20px;
    width: 90%;
   }
   .user-input-box:nth-child(2n){
    justify-content: space-between;
   }
   .gender-category{
   
    justify-content: space-between;
   }
   .main-user-info{
    max-height: 380px;
   
   }
   .main-user-info::-webkit-srollbar{
width: 0;
   }
   .user-input-box input{
    padding-right: 20%;
    padding-left: 30px;
    padding: 0%;
    width:300px;
   }
.user-input-box textarea{
    padding-left: 100%;
   }
   
   }
  
@media screen and (max-width: 768px){
    .contact-img{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}
    
   
  




  

  
   
   
   
  
  